<!--
<title>
  <%= SystemSetting.first.site_name %>
</title>
-->

<h1  >中国艺术品银行</h1>
<% @menus.each do |menu| %>
  <%= menu.name %>
<% end %>

<% @current_menu.items.each do |item| %>
  <div>
  <%= raw item.introduction %>
  </div>
<% end %>
