<head>
<title>
  <%= SystemSetting.first.site_name %>
</title>
<style>
.logo{
  background-position: center center;
  background-size: cover;
  border-width: 4px 0 4px 0;
  border-color: white;
  border-style: solid;
}

body{text-align:center}

</style>
</head>
<body>
<h1  >中国艺术品银行</h1>
<% @menus.each do |menu| %>
  <%= menu.name %>
<% end %>

<% @current_menu.items.each do |item| %>
  <div>
  <%= raw item.introduction %>
  </div>
<% end %>
</body>
